.mission {
	background: #272727;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	margin-bottom: 40px;
	.text {
		padding: 15px 15px;
		margin: 0px 15px;
		.title {
			font-size: 140%;
			font-weight: bold;
			&.adv {
				color: #FFD967;
			}
			&.coop {
				color: #8DD28D;
			}
			&.training {
				color: #8DBFD2;
			}
		}
		.author {
			color: #color: #CFCFCF;
			padding-bottom: 20px;
			.by {

			}
			.authorName {
				color: #FFF;
			}
		}
		.description {
			color: #CFCFCF;
			// use the beneath if disabling HTML rendering, this will cause '\n' to become a <br />
			// white-space: pre;
		}
	}
	.details {
		padding: 15px 15px;
		margin: 0px 15px;
		.title {
			font-size: 140%;
			font-weight: bold;
		}
		td {
			border-top: none;
			padding-top: 0;
			&.key {
				text-align: right;
			}
			&.value {
				text-align: left;
			}
		}
	}
	.utilities {
		padding: 15px 30px;
		.btn-success[disabled] {
			background-color: lighten(#272727, 20%);
			border-color: darken(#272727, 1%);
		}
		.btn-success {
			background-color: #626352;
			border-color: darken(#626352, 1%);
		}
	}
}

.updates {
	background: #272727;
	border-radius: 4px;
	margin-bottom: 40px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	>.title {
		color: #E7E7E7;
		font-size: 140%;
		font-weight: bold;
		text-align: center;
		padding: 15px 0px 0px 0px;
		margin: 0px 30px;
		.author {
			color: #EBEBEB;
		}
	}
	.updatesList {
		.update {
			margin: 0px 15px;
			.inner {
				background: #2A2A2A;
				color: #CFCFCF;
				padding: 10px 0px;
				margin: 5px 0px;
				border-radius: 4px;
				.date {
					display: inline-block;
					padding: 0px 20px;
				}
				.reason {
					display: inline-block;
				}
				&:hover {
					color: #E7E7E7;
				}
			}
			&:nth-child(1) {
				border-top: none;
			}
			&:hover {
				.inner {
					background: #2D2D2D;
					.description {
						color: #E7E7E7;
					}
					.details {
						color: #E7E7E7;
					}
				}
			}
		}
	}
}

.otherMissions {
	background: #272727;
	border-radius: 4px;
	margin-bottom: 40px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	>.title {
		color: #E7E7E7;
		font-size: 140%;
		font-weight: bold;
		text-align: center;
		padding: 15px 0px 0px 0px;
		margin: 0px 30px;
		.author {
			color: #EBEBEB;
		}
	}
	.otherMissionsList {
		.otherMission {
			margin: 0px 15px;
			cursor: pointer;
			.inner {
				background: #2A2A2A;
				padding: 10px 0px;
				margin: 15px 0px;
				border-radius: 4px;
				.text {
					margin: 0px 15px;
					.title {
						font-size: 120%;
						font-weight: bold;
						&.adv {
							color: #FFD967;
						}
						&.coop {
							color: #8DD28D;
						}
						&.training {
							color: #8DBFD2;
						}
					}
					.description {
						color: #CFCFCF;
					}
				}
				.details {
					color: #CFCFCF;
					margin: 0px 15px;
					.title {
						font-size: 120%;
						font-weight: bold;
					}
					td {
						border-top: none;
						padding-top: 0;
						&.key {
							text-align: right;
						}
						&.value {
							text-align: left;
						}
					}
				}
			}
			&:nth-child(1) {
				border-top: none;
			}
			&:hover {
				.inner {
					background: #2D2D2D;
					.description {
						color: #E7E7E7;
					}
					.details {
						color: #E7E7E7;
					}
				}
			}
		}
	}
}