<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="mission clearfix">
          <div class="top">
            <div class="col-sm-8">
              <div class="row">
                <div class="text">
                  <div class="title" ng-class="{adv: mission.type == 'adv', coop: mission.type == 'co-op', training: mission.type == 'training'}" title="{{mission.type}}">
                    <span>{{mission.name}}</span>
                  </div>
                  <div class="author">
                    <span class="by">by</span>&nbsp;<span class="authorName">{{mission.author}}</span>
                  </div>
                  <div class="description">
                    <p ng-bind-html="mission.description">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="details">
                  <div class="title">
                    <span>
                      &nbsp;
                    </span>
                  </div>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="key">
                          Type
                        </td>
                        <td class="value" style="text-transform: capitalize">
                          {{mission.type}}
                        </td>
                      </tr>
                      <tr>
                        <td class="key">
                          Terrain
                        </td>
                        <td class="value">
                          {{mission.terrain}}
                        </td>
                      </tr>
                      <tr>
                        <td class="key">
                          Playercount
                        </td>
                        <td class="value">
                          <span class="min">{{mission.playerCountMin}}</span>/<span class="max">{{mission.playerCountMax}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="key">
                          Date Created
                        </td>
                        <td class="value">
                          {{ mission.dateCreated | date:'dd/MM/yyyy' }}
                        </td>
                      </tr>
                      <tr ng-hide="!mission.updates[0]">
                        <td class="key">
                          Last Updated
                        </td>
                        <td class="value">
                          {{ mission.updates[0].date | date:'dd/MM/yyyy' }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="utilities">
                <button ng-disabled="mission.authorID != currentUser._id" class="btn btn-lg  btn-block btn-success" ng-click="editMission(mission)">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="updates" ng-hide="!mission.updates[0]">
          <div class="title">
              Updates
          </div>
          <div class="content">
            <div class="updatesList clearfix">
              <div class="update clearfix" ng-repeat="update in mission.updates | orderBy: 'date':true">
                <div class="inner">
                  <div class="date">
                    <span>
                      {{ update.date | date:'dd/MM/yyyy' }}
                    </span>
                  </div>
                  <div class="reason">
                    <span ng-If="update.reason">
                      {{ update.reason }}
                    </span>
                    <span ng-If="!update.reason">
                      Minor update
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <pre>
          {{mission.updates}}
        </pre>
      </div>
      <div class="row">
        <div class="otherMissions" ng-hide="!otherMissions[0]">
          <div class="title">
              Other missions by <span class="author">{{mission.author}}</span>
          </div>
          <div class="content">
            <div class="otherMissionsList clearfix">
              <div class="otherMission clearfix" ng-repeat="otherMission in otherMissions" ng-click="showMission(otherMission)">
                <div class="inner clearfix">
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="text">
                        <div class="title" ng-class="{adv: otherMission.type == 'adv', coop: otherMission.type == 'co-op', training: otherMission.type == 'training'}" title="{{otherMission.type}}">
                          <span>{{otherMission.name}}</span>
                        </div>
                        <div class="description">
                          <p ng-bind-html="otherMission.description"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="row">
                      <div class="details">
                        <div class="title">
                          <span>
                            &nbsp;
                          </span>
                        </div>
                        <table class="table">
                          <tbody>
                            <tr>
                              <td class="key">
                                Type
                              </td>
                              <td class="value" style="text-transform: capitalize">
                                {{otherMission.type}}
                              </td>
                            </tr>
                            <tr>
                              <td class="key">
                                Terrain
                              </td>
                              <td class="value">
                                {{otherMission.terrain}}
                              </td>
                            </tr>
                            <tr>
                              <td class="key">
                                Playercount
                              </td>
                              <td class="value">
                                <span class="min">{{otherMission.playerCountMin}}</span>/<span class="max">{{otherMission.playerCountMax}}</span>
                              </td>
                            </tr>
                            <tr>
                              <td class="key">
                                Date Created
                              </td>
                              <td class="value">
                                {{ otherMission.dateCreated | date:'dd/MM/yyyy' }}
                              </td>
                            </tr>
                            <tr ng-hide="!otherMission.updates[0]">
                              <td class="key">
                                Last Updated
                              </td>
                              <td class="value">
                                {{ otherMission.updates[0].date | date:'dd/MM/yyyy' }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
