<div ng-include="'components/navbar/navbar.html'"></div>

<!-- ng-If = false hack for hiding unfinished work -->
<div class="container filters" ng-hide="!currentUser" ng-If="false">
  <div class="row">
    <div class="center-form panel createMission">
      <div class="panel-body">
        <h2 class="text-center" ng-click="filterListVisibility = !filterListVisibility"><i class="glyphicon glyphicon-chevron-down"></i>Filters<i class="glyphicon glyphicon-chevron-down"></i></h2>
        <div class="filterList" ng-hide="!filterListVisibility">
          ** filters go here **
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container db" ng-hide="!currentUser">
  <div class="row">
    <div class="center-form panel createMission">
      <div class="panel-body">
        <h2 class="text-center">Mission Database</h2>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th class="" style="padding-left: 0px;">
                  <div class="field">
                    <label ng-show="missionFilter.Name" class="show-hide">Name</label>
                    <div class="has-feedback">
                      <input type="text" ng-model="missionFilter.Name" placeholder="Name" style="padding-left: 8px;">
                      <span class="ion-key form-control-feedback"></span>
                    </div>
                  </div>
                </th>
                <th class="">
                  <select class="" name="terrain" ng-model="missionFilter.Terrain" ng-options="terrain.name as terrain.name for terrain in terrains">
                    <option value="">Terrain</option>
                  </select>
                </th>
                <th class="">
                  <select class="" name="type" ng-model="missionFilter.Type" ng-init="typeModel = types[0]" ng-options="type.name as type.name for type in types">
                    <option value="">Type</option>
                  </select>
                </th>
                <th class="text-right cursorPointer" ng-click="predicate = 'playerCountMax'; reverse=!reverse">Playercount</th>
                <th class="text-right cursorPointer">
                  <select class="rtl" name="platform" ng-model="missionFilter.Platform" ng-init="platformModel = platforms[0]" ng-options="platform.name as platform.name for platform in platforms">
                    <option value="">Platform</option>
                  </select>
                </th>
                <th class="text-right cursorPointer" ng-click="predicate = 'updates[0].date'; reverse=!reverse">Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mission in DB | filter: missionFilter.Name:strict | filter: missionFilter.Platform | filter: missionFilter.Terrain | filter: missionFilter.Type | orderBy: predicate:reverse" data-id="{{mission._id}}" ng-class="{adv: mission.type == 'adv', coop: mission.type == 'co-op', training: mission.type == 'training'}" ng-click="showMission(mission)">
                <td>{{mission.name}}</td>
                <td>{{mission.terrain}}</td>
                <td>{{mission.type}}</td>
                <td class="text-right">{{mission.playerCountMax}}</td>
                <td class="text-right">{{mission.platform}}</td>
                <td class="text-right">{{mission.updates[0].date | date:'dd/MM/yyyy' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
