.filters {
	.text-center {
		margin: 0;
		cursor: pointer;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		.glyphicon-chevron-down {
			font-size: 50%;
			margin: 0px 15px;
  			top: -2px;
		}
	}
}

.db {
	thead {
		tr {
			background: #272727;
			th {
				border-bottom: 0px solid #272727;
				select {
					background: #272727;
					border: 0px solid transparent;
					width: 100%;
					cursor: pointer;
					&:focus {
				    	outline: none;
				    }
					option {
						background-color: rgba(0,0,0,0);
					}
				}
				.field {
				    position: relative;
				    label {
					    color: #FFF;
					    font-size: 0.8em;
					    position: absolute;
					    top: -14px;
				    }
				    input {
				    	background: transparent;
					    border: 0;
					    border-radius: 0;
					    border-bottom: 2px solid #726F5F;
					    -webkit-box-shadow: none !important;
					    -moz-box-shadow: none !important;
					    box-shadow: none !important;
					    -webkit-border-radius: 0;
					    -moz-border-radius: 0;
					    &:focus {
					    	outline: none;
					    }
				    }
				}
			}
		}
	}
	tbody {
		tr {
			background: #6D6352;
			&:hover {
				background: #3F3D33;
			}
			&.adv {
				color: #FFD967;
				&:hover {
					> td {
						// background: #896600;
						color: lighten(#FFD967, 20%);
					}
				}
			}
			&.coop {
				color: #8DD28D;
				&:hover {
					> td {
						// background: #055405;
						color: lighten(#8DD28D, 20%);
					}
				}
			}
			&.training {
				color: #8DBFD2;
				&:hover {
					> td {
						// background: #055405;
						color: lighten(#8DBFD2, 20%);
					}
				}
			}
			td {
				border-top: 1px solid #272727;
			}
		}
	}
}