<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="panel panel-default" ng-hide="currentUser">
	  <div class="panel-heading">Sign up</div>
	  <div class="panel-body">
		  <form method="post" ng-submit="signup()" name="signupForm" class="ng-pristine ng-invalid ng-invalid-required signupForm">
			<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.fullName.$invalid &amp;&amp; signupForm.fullName.$dirty }">
			  <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required" type="text" name="displayName" ng-model="displayName" placeholder="Name" required="">
			  <span class="ion-person form-control-feedback"></span>
			  <!-- ngIf: signupForm.fullName.$dirty -->
			</div>

			<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid &amp;&amp; signupForm.email.$dirty }">
			  <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-valid-email" type="email" id="email" name="email" ng-model="email" placeholder="Email" required="" autofocus="">
			  <span class="ion-at form-control-feedback"></span>
			  <!-- ngIf: signupForm.email.$dirty -->
			</div>

			<div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid &amp;&amp; signupForm.password.$dirty }">
			  <input password-strength="" class="form-control input-lg ng-pristine ng-invalid ng-invalid-required" type="password" name="password" ng-model="password" placeholder="Password" required="">
			  <span class="ion-key form-control-feedback"></span>
			  <!-- ngIf: signupForm.password.$dirty -->
			</div>
			<button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary" disabled="disabled">Sign up</button>
			<br>
			<p class="text-center text-muted">Already have an account? <a ng-href="/">Log in now</a></p>
		  </form>
		</div>
	</div>
	<!-- <div class="panel panel-default" ng-if="currentUser">
	  <div class="panel-heading">Profile</div>
	  <div class="panel-body">
		<legend><i class="ion-clipboard"></i> Edit My Profile</legend>
		<form method="post" ng-submit="updateProfile()">
		  <div class="form-group">
			<label class="control-label"><i class="ion-person"></i> Display Name</label>
			<input type="text" class="form-control" ng-model="currentUser.displayName" />
		  </div>
		  <div class="form-group">
			<label class="control-label"><i class="ion-at"></i> Password</label>
			<input type="password" class="form-control" ng-model="currentUser.password" />
		  </div>
		  <button class="btn btn-lg btn-success">Update Information</button>
		</form>
	  </div>
	</div> -->
</div>
<div class="container" ng-hide="!userMissions">
	<div class="col-sm-12">
		<div class="row">
			<div class="userMissions">
				<div class="title">
				  <span>
					My Missions
				  </span>
				</div>
				<div class="userMissionList">
					<div class="userMission cursorPointer clearfix" ng-repeat="mission in userMissions" ng-class="{a3: mission.platform == 'a3', a2: mission.platform == 'a2'}" ng-click="showMission(mission)">
						<div class="col-sm-8">
						  <div class="row">
							<div class="text">
							  <div class="title" ng-class="{adv: mission.type == 'adv', coop: mission.type == 'co-op', training: mission.type == 'training'}" title="{{mission.type}}">
								<span>{{mission.name}}</span>
							  </div>
							  <div class="description">
								<p ng-bind-html="mission.description"></p>
							  </div>
							</div>
						  </div>
						</div>
						<div class="col-sm-4">
						  <div class="row">
							<div class="details">
								<div class="title">
									<span>
										&nbsp;
									</span>
								</div>
								<table class="table">
									<tbody>
										<tr>
											<td class="key">
											Type
											</td>
											<td class="value" style="text-transform: capitalize">
											{{mission.type}}
											</td>
										</tr>
										<tr>
											<td class="key">
												Terrain
											</td>
											<td class="value">
												{{mission.terrain}}
											</td>
										</tr>
										<tr>
											<td class="key">
												Playercount
											</td>
											<td class="value">
												<span class="min">{{mission.playerCountMin}}</span>/<span class="max">{{mission.playerCountMax}}</span>
											</td>
										</tr>
										<tr>
											<td class="key">
												Date Created
											</td>
											<td class="value">
												{{ mission.dateCreated | date:'dd/MM/yyyy' }}
											</td>
										</tr>
										<tr ng-hide="!mission.updates[0]">
											<td class="key">
												Last Updated
											</td>
											<td class="value">
												{{ mission.updates[0].date | date:'dd/MM/yyyy' }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
