.userMissions {
	background: #272727;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 0 5px 1px 5px;
	>.title {
		font-size: 140%;
		font-weight: bold;
		padding: 15px 0px 0px 0px;
		margin: 0px 30px;
	}
	.userMissionList {
		.userMission {
			border-top: 1px solid #DDD;
			padding: 15px 0px;
			margin: 0px 30px;
			&:hover {
				.description {
					color: #FFF;
				}
				.details {
					color: #E7E7E7;
				}
			}
			&:nth-child(1) {
				border-top: none;
			}
			.thumb {
				img {
					width: 100%;
				}
			}
			.text {
				.title {
					font-size: 120%;
					font-weight: bold;
					&.adv {
						color: #FFD967;
					}
					&.coop {
						color: #8DD28D;
					}
					&.training {
						color: #8DBFD2;
					}
				}
			}
			.description {
				color: #CFCFCF;
			}
			.details {
				color: #CFCFCF;
				.title {
					font-size: 120%;
					font-weight: bold;
				}
				td {
					border-top: none;
					padding-top: 0;
					&.key {
						text-align: right;
					}
					&.value {
						text-align: left;
					}
				}
			}
		}
	}
}