.editMission {
	&.panel {
		background: #272727;
		.panel-body {
			padding: 15px 30px;
			.missionForm {
				.select {
					margin: 0px 15px;
				}
				.field {
					color: #FFF;
                	padding-bottom: 10px;
				    position: relative;
				    label {
					    position: absolute;
					    top: -14px;
                    	left: 15px;
					    color: #CFCBB4;
					    font-size: 0.8em;
				    }
				    input, select, textarea {
				    	color: #E1E1E1;
					    border: 0;
					    background: none;
					    -webkit-box-shadow: none !important;
					    -moz-box-shadow: none !important;
					    box-shadow: none !important;
					    -webkit-border-radius: 0;
					    -moz-border-radius: 0;
					    border-radius: 0;
					    border-bottom: 2px solid #726F5F;
					    padding-right: 0;
					    margin-top: 15px
				    }
				    select {
				    	background: #272727;
				    	border: 0px solid transparent;
				    	border-bottom: 2px solid #726F5F;
				    	width: 100%;
				    	cursor: pointer;
				    	&:focus {
				        	outline: none;
				        }
				    	option {
				    		background-color: rgba(0,0,0,0);
				    	}
				    }
				    input {
				    	background: transparent;
					    border: 0;
					    border-radius: 0;
					    border-bottom: 2px solid #726F5F;
					    -webkit-box-shadow: none !important;
					    -moz-box-shadow: none !important;
					    box-shadow: none !important;
					    -webkit-border-radius: 0;
					    -moz-border-radius: 0;
					    &::-webkit-input-placeholder { /* WebKit browsers */
					        color:    #CFCBB4;
					    }
					    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					        color:    #CFCBB4;
					        opacity:  1;
					    }
					    &::-moz-placeholder { /* Mozilla Firefox 19+ */
					        color:    #CFCBB4;
					        opacity:  1;
					    }
					    &:-ms-input-placeholder { /* Internet Explorer 10+ */
					        color:    #CFCBB4;
					    }
				    }
				    textarea {
				    	max-width: 100%;
						&::-webkit-input-placeholder { /* WebKit browsers */
						    color:    #CFCBB4;
						}
						&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
						    color:    #CFCBB4;
						    opacity:  1;
						}
						&::-moz-placeholder { /* Mozilla Firefox 19+ */
						    color:    #CFCBB4;
						    opacity:  1;
						}
						&:-ms-input-placeholder { /* Internet Explorer 10+ */
						    color:    #CFCBB4;
						}
				    }
				    .form-control:focus {
						border-color: #CFCBB4;
				    }
				}
			    .btn-success[disabled]{
			    	background-color: lighten(#272727, 20%);
			    	border-color: darken(#272727, 1%);
			    }
			    .btn-success {
			    	background-color: #626352;
			    	border-color: darken(#626352, 1%);
			    }
			    .btn-success:hover {
			    	background-color: #4C4D41;
			    	border-color: darken(#4C4D41, 1%);
			    }
			    .btn-success {
			    	background-color: #626352;
			    	border-color: darken(#626352, 1%);
			    }
			    .btn-success:hover {
			    	background-color: #4C4D41;
			    	border-color: darken(#4C4D41, 1%);
			    }
			    .delete {
			    	padding: 15px 15px;
			    }
			    .confirmDeleteCancel {
			    	padding: 15px 15px;
			    }
			    .confirmDeleteConfirm {
			    	padding: 15px 15px;
			    }
			}
		}
	}
}