<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="center-form panel editMission">
      <div class="panel-body">
        <h2 class="text-center">Update Mission</h2>
        <form method="post" ng-submit="updateMission()" name="missionForm" class="missionForm">
          <div class="col-sm-9">
            <div class="row">
              <div class="form-group has-feedback">
                <div class="select">
                  <div class="field">
                    <label ng-show="nameModel" class="show-hide">Name</label>
                    <input class="form-control input-lg" type="text" name="name" ng-model="nameModel" placeholder="Name" required autofocus>
                    <span class="ion-at form-control-feedback"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="select">
                <div class="field">
                  <label>Type</label>
                  <div class="form-group has-feedback">
                    <select class="form-control input-lg" name="type" ng-model="typeModel" ng-init="typeModel = types[0]" ng-options="type.name for type in types"></select>
                    <span class="ion-key form-control-feedback"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="form-group has-feedback">
                <div class="select">
                  <div class="field">
                    <label ng-show="descriptionModel" class="show-hide">Description</label>
                    <textarea msd-elastic="\n" ng-model="descriptionModel" class="form-control input-lg" name="description" placeholder="Description"></textarea>
                    <span class="ion-key form-control-feedback"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="select">
                <div class="field">
                  <label>Terrain</label>
                  <div class="form-group has-feedback">
                    <select class="form-control input-lg" name="terrain" ng-model="terrainModel" ng-init="terrainModel = terrains[0]" ng-options="terrain.name for terrain in terrains"></select>
                    <span class="ion-key form-control-feedback"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="select">
                <div class="field">
                  <label>Platform</label>
                  <div class="form-group has-feedback">
                    <select class="form-control input-lg" name="platform" ng-model="platformModel" ng-init="platformModel = platforms[0]" ng-options="platform.name for platform in platforms"></select>
                    <span class="ion-key form-control-feedback"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="select">
                <div class="field">
                  <label>Count (min)</label>
                  <div class="form-group has-feedback">
                    <input class="form-control input-lg" type="number" name="playerCountMin" ng-model="playerCountMinModel" placeholder="Count (min)" required min="1">
                    <span class="ion-key form-control-feedback"></span>
                  </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="select">
                <div class="field">
                  <label>Count (max)</label>
                  <div class="form-group has-feedback">
                    <input class="form-control input-lg" type="number" name="playerCountMax" ng-model="playerCountMaxModel" placeholder="Count (max)" required min="1">
                    <span class="ion-key form-control-feedback"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="delete" ng-hide="confirmDelete">
                <a class="btn btn-lg btn-block btn-success " role="button" ng-click="confirmDelete = true">Delete</a>
              </div>
            </div>
            <div class="confirmDelete" ng-hide="!confirmDelete">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="confirmDeleteCancel">
                      <a class="btn btn-lg btn-block btn-success" role="button" ng-click="confirmDelete = false">Cancel</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="confirmDeleteConfirm">
                      <button class="btn btn-lg btn-block btn-danger" ng-click="confirmDeleteMission(mission)">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="confirmUpdate" ng-hide="!confirmUpdate">
                <div class="form-group has-feedback">
                  <div class="select">
                    <div class="field">
                      <label ng-show="updateNotesModel" class="show-hide">Update Notes</label>
                      <textarea msd-elastic="\n" ng-model="updateNotesModel" class="form-control input-lg" name="updateNotes" placeholder="Update Notes" required></textarea>
                      <span class="ion-key form-control-feedback"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="delete" ng-hide="confirmUpdate">
                <a class="btn btn-lg btn-block btn-success " role="button" ng-click="confirmUpdate = true">Update</a>
              </div>
            </div>
            <div class="confirmUpdate" ng-hide="!confirmUpdate">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="confirmDeleteCancel">
                      <a class="btn btn-lg btn-block btn-success" role="button" ng-click="confirmUpdate = false">Cancel</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="confirmDeleteConfirm">
                      <button type="submit" ng-disabled="missionForm.$invalid" class="btn btn-lg btn-block btn-success">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="json">
          <span class="title">JSON</span>
          <pre>{{mission}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
