@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

html, body {
	height: 100%;
}

body {
	background: #3F3D33;
	color: #E1E1E1;
}

.cursorPointer {
	cursor: pointer;
}
.rtl {
	direction: rtl;
}

.navbar-default {
	background: #272727;
	color: #FFF;
	border: 0px solid transparent;
	.navbar-brand {
		color: #FFF;
	}
	.navbar-nav {
		li {
			a {
				color: #E1E1E1;
				&:hover {
					color: #9A9A9A;
				}
			}
		}
		.active {
			a {
				background: #3F3D33;
				color: #E1E1E1;
				-webkit-transition: color 100ms linear;
			    -moz-transition: color 100ms linear;
			    -o-transition: color 100ms linear;
			    -ms-transition: color 100ms linear;
			    transition: color 100ms linear;
				&:hover {
					background: #3F3D33;
					color: #FFF;
				}
			}
		}
	}
}


.show-hide.ng-hide-add, .show-hide.ng-hide-remove {
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    transition:all linear 0.2s;
    display:block!important;
    position: absolute;
}

.show-hide.ng-hide-add.ng-hide-add-active,
.show-hide.ng-hide-remove {
    top: -8px;
    display:block!important;
    position: absolute;
    opacity: 0;

}

.show-hide.ng-hide-add,
.show-hide.ng-hide-remove.ng-hide-remove-active {
    top:-14px;
    opacity: 1;
    display:block!important;
    position: absolute;
}

// injector
@import 'cp/cp.less';
@import 'create/create.less';
@import 'db/db.less';
@import 'edit/edit.less';
@import 'main/main.less';
@import 'mission/mission.less';
// endinjector