#splash {
    height: 100%;
    .content {
        text-align: center;
        width: 100%;
        .title {
            cursor: default;
            h1 {
                font-size: 70px;
            }
        }
    }
}

.login {
    .panel {
        background: #272727;
        .panel-body {
            padding: 15px 30px;
            .field {
                color: #CFCBB4;
                padding-bottom: 10px;
                position: relative;
                label {
                    position: absolute;
                    top: -14px;
                    left: 15px;
                    color: #CFCBB4;
                    font-size: 0.8em;
                }
                input {
                    color: #CFCBB4;
                    background: transparent;
                    border: 0;
                    border-radius: 0;
                    border-bottom: 2px solid #726F5F;
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    box-shadow: none !important;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    &::-webkit-input-placeholder { /* WebKit browsers */
                        color:    #555;
                    }
                    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        color:    #555;
                        opacity:  1;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                        color:    #555;
                        opacity:  1;
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10+ */
                        color:    #555;
                    }
                }
            }
            .btn-success[disabled]{
                background-color: lighten(#272727, 20%);
                border-color: darken(#272727, 1%);
            }
            .btn-success {
                background-color: #626352;
                border-color: darken(#626352, 1%);
            }
        }
    }
}