<div ng-include="'components/navbar/navbar.html'"></div>

<div id="splash">
  <div class="container">
    <div class="content">
      <div class="title" ng-click="test()">
        <h1>FluxDB</h1>
      </div>
    </div>
  </div>

  <div class="container login">
    <div class="row">
      <div class="center-form panel" ng-hide="currentUser">
        <div class="panel-body">
          <h2 class="text-center">Log in</h2>
          <form method="post" ng-submit="login()" name="loginForm" class="loginForm">
            <div class="form-group has-feedback">
              <div class="field">
                <label ng-show="email" class="show-hide">Email</label>
                <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
                <span class="ion-at form-control-feedback"></span>
              </div>
            </div>
            <div class="form-group has-feedback">
              <div class="field">
                <label ng-show="password" class="show-hide">Password</label>
                <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
                <span class="ion-key form-control-feedback"></span>
              </div>
            </div>
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-block btn-success">Log in</button>
            <br />
            <p class="text-center text-muted">
              <small>Don't have an account yet? <a ng-href="/cp">Sign up</a></small>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
